.post-actions{
    display:flex;
    margin-top:2rem;
    padding-bottom:0.7rem;
    border-bottom: 0.3px solid black;;
    gap:1rem;
}

.action-item{
    display:flex;
    align-items: center;
}

.likesImage{
    height: 1rem;
    width: 1rem;
}

.like-text{
    margin-left:0.4rem;
    margin-right:0.2rem;
}

.comment-text{
    margin-left:0.4rem;
    margin-right:0.2rem;
}


.commentImage{
    height: 1rem;
    width: 1rem;
}

