.Home-container{
    display: flex;
    max-width : 768px;
    min-width : 768px;
    margin-left : auto;
    margin-right : auto;
    padding: 0 0 0 2rem;
    
}

.header-title{
    border-left: 0.3rem solid #FFA600;
    padding-left: 0.6rem;
    margin-bottom: 0.3rem;
}
