.aboutme-action-button-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 0rem 2rem 0 2rem;
    margin: 0 2rem 2rem 0 ;
}

.aboutme-action-button{
    padding: 10px 18px; /* 크기 약간 키움 */
    font-size: 14px;
    font-weight: 700; /* 폰트 더 굵게 */
    border: 2px solid transparent; /* 테두리 공간 확보 */
    border-radius: 10px; /* 완전히 둥근 알약 모양 */
    background-color: transparent; /* 배경 투명 */
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); /* 쫀득한 애니메이션 */
}

.aboutme-action-button.edit-button{
    padding: 10px 18px; /* 크기 약간 키움 */
    font-size: 14px;
    font-weight: 700; /* 폰트 더 굵게 */
    border: 2px solid transparent; /* 테두리 공간 확보 */
    border-radius: 10px; /* 완전히 둥근 알약 모양 */
    background-color: transparent; /* 배경 투명 */
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); /* 쫀득한 애니메이션 */
}

.aboutme-action-button.edit-button:hover {
    transform: translateY(-3px); /* 더 높이 뜸 */
    box-shadow: 0 5px 15px rgba(255, 166, 0, 0.2); /* 오렌지색 그림자 */
    background-color: #FFA600;
    color: white;
    box-shadow: 0 5px 15px rgba(255, 166, 0, 0.3); /* 오렌지 빛 발산 */
}